:root {
    --black: #090909;
    --white: #FFFFFF;
    --yellow: #FCFF4B;
    --gray: #808080;
    --back_ground: #FBFBFB;
    --red: #BF211E;
    --green: #85CB33;

    --html5: #e44d26;
    --css3: #42a5f5;
    --js: #fde635;
    --c: #0277bd;
    --njs: #8cc84b;
    --java: #f44336;
    --cpp: #0277bd;

}

body {
    background-color: var(--back_ground);
}

#mobile {
    display: none;
}

.padding {
    padding: 30px;
}

#header {
    width: 100%;
}

.widget-container {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 400px;

    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;

    box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 20px 0px;

    background-color: var(--white);
}