@media(max-width: 992px) {
    #mobile {
        display: flex;
    }

    #dskt {
        display: none;
    }

    /*Header*/
    .container-fluid .navbar-brand img {
        margin-left: 0px;
    }

    /*Sobre mim*/

}