.dskt_widget_hb{
    height: 600px;
}
.dskt_widget_f{
    height: 800px;
}

@media(max-width: 992px) {
    #mobile {
        display: flex;
    }

    #dskt {
        display: none;
    }

    .padding {
        padding: 0px;
    }

    .widget {
        height: 650px;
    }

    .mobile_widget_sb {
        height: 520px;
    }

    .mobile_widget_hb{
        height: 810px;
    }

    /*Header*/
    .container-fluid .navbar-brand {
        margin-left: -5px;
    }

    .container-fluid .navbar-brand img {
        margin-left: 0px;
    }

    /*Sobre mim*/
    .Sb_margins p {
        margin-bottom: -2px;
    }

    .bio_set {
        width: 170px;
    }
}