#nav-bar {
    height: 50px;
    width: 100%;

    background-color: var(--color-background);

    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;

    align-items: center;
    justify-content: center;
}

#container > div {
    background-color: var(--color-secondary);

    margin-top: 50px;

    width: 500px;
    height: 500px;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}